<!--<<<<<<< HEAD-->
<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--<meta charset="utf-8">-->
<!--<title>菜鸟教程(runoob.com)</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Hello World!</h1>-->
<!--    <p>菜鸟教程 Django 测试。</p>-->
<!--    {% block mainbody %}-->
<!--       <p>original</p>-->
<!--    {% endblock %}-->
<!--</body>-->
<!--=======-->
<!--<!DOCTYPE html>-->
<html>
<head>
<meta charset="utf-8">
<title>菜鸟教程(runoob.com)</title>
</head>
<body>
    <h1>Hello World!</h1>
    <p>菜鸟教程 Django 测试。</p>
<!--    {% block mainbody %}-->
<!--       <p>original</p>-->
<!--    {% endblock %}-->
</body>
<!--&gt;>>>>>> e8fe7138674da69fc28cd62c6c00a5b263f7e166-->
</html>